* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth; /* Smooth scrolling for anchor links */
}

body {
  font-family: "Figtree", sans-serif;
  background-color: #f4d04e;
  color: #333;
}

.blog {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog__card {
  display: flex;
  flex-direction: column;
  width: 38.4rem;
  padding: 2.4rem;
  background-color: white;
  box-shadow: 0.8rem 0.8rem 0rem 0rem black;
  border: 1px solid #111111;
  row-gap: 2.4rem;
  border-radius: 2rem;
}

.blog__cardContent {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}

.blog__cardTime {
  font-size: 1.4rem;
  font-weight: 400;
  color: #111111;
  text-align: left;
}

.blog__cardTitle:hover {
  color: #f4d04e;
  cursor: pointer;
}

.blog__cardTitle {
  font-size: 2.4rem;
  font-weight: 700;
  color: #111111;
  text-align: left;
}

.blog__cardDescription {
  font-size: 1.6rem;
  font-weight: 400;
  color: #6b6b6b;
  line-height: 2.4rem;
  text-align: left;
}

.blog__cardCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.2rem;
  height: 2.9rem;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #f4d04e;
  padding: 0.4rem 1.2rem;
  border-radius: 0.4rem;
  color: #111111;
}

.blog__cardImage {
  border-radius: 1rem;
}

.blog__cardAuthor {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
  font-size: 1.4rem;
  font-weight: bolder;
}

.blog__cardAuthorName {
  font-size: 1.4rem;
  font-weight: 700;
  color: #111111;
  text-align: left;
}

.attribution {
  display: none;
}
